# Copy this file to .env and fill in your credentials
ATTENDANCE_URL="https://www.mycourseville.com/?q=courseville/course/XXXXX/attendance_qr_selfcheck/XXXXXX/XXXXXX"
ACCOUNTS='[{"user": "YOUR_STUDENT_ID", "pass": "YOUR_PASSWORD"},{"user": "YOUR_STUDENT_ID", "pass": "YOUR_PASSWORD"}]'
